:root {
  /* == fullcalendar == */
  --fc-event-bg-color: var(--el-color-primary);
  --fc-event-border-color: transparent;
  --fc-today-bg-color: #68b1ff18;
  --fc-border-color: var(--el-border-color);
  --fc-highlight-color: #007dff1f;
  --fc-button-bg-color: var(--el-color-primary);
  --fc-button-border-color: var(--el-color-primary);
  --fc-button-hover-bg-color: var(--el-color-primary-light-3);
  --fc-button-hover-border-color: var(--el-color-primary-light-3);
  --fc-button-active-bg-color: var(--el-color-primary-light-5);
  --fc-button-active-border-color: var(--el-color-primary-light-5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --el-border-color: #e0e5f0 !important;
  --el-border-color-hover: #d3dce6 !important;
}
