@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--el-color-primary);
  padding: 3px;
}

a:hover {
  background-color: var(--el-color-primary-light-7);
}

strong {
  font-weight: bold;
}

/* == fullcalendar == */
.fc-v-event:hover {
  background-color: var(--el-color-primary-light-3);
}
.fc-col-header-cell-cushion {
  color: var(--el-color-primary);
}
.fc-col-header-cell-cushion:hover {
  background: transparent;
}
.fc .fc-button:focus,
.fc .fc-button:active,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:active {
  box-shadow: none;
}
.fc .fc-timegrid-slot {
  height: 2rem;
}

/* == element plus == */
.el-input-number {
  width: 100% !important;
}
.el-input-number .el-input__inner {
  text-align: left !important;
}
.el-dropdown__popper {
  --el-dropdown-menu-box-shadow: none !important;
}
